<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Питомник</title>
</head>
<body>
<h1>Добро Пожаловать!!!</h1>

<p>Выберите действие:</p>

<ul>
    <li><button onclick="addNewAnimal()">1. Добавить новое животное</button></li>
    <li><button onclick="trainAnimal()">2. Обучение животного новым командам</button></li>
    <li><button onclick="viewCommandListById()">3. Смотреть Список команд по ID</button></li>
    <li><button onclick="countAnimalsInPetShop()">4. Счетчик кол-ва животных в Питомнике</button></li>
    <li><button onclick="getDataById()">5. Получить данные по ID</button></li>
    <li><button onclick="showGeneralInfo()">6. Общая информация по Питомнику</button></li>
    <li><button onclick="sortByName()">7. Сортировка данных по Имени</button></li>
    <li><button onclick="sortByDateOfBirth()">8. Сортировка данных по Дате рождения</button></li>
    <li><button onclick="saveData()">9. Сохранить данные.</button></li>
    <li><button onclick="loadData()">10. Загрузить данные</button></li>
    <li><button onclick="deleteAnimalRecord()">11. Удалить сведения о животном из реестра</button></li>
    <li><button onclick="exitApp()">12. Завершить работу.</button></li>
</ul>

<script>
    function addNewAnimal() {
        <script src="AddAnimal.js"></script>
        alert("Вы выбрали добавить новое животное.");

    }

    function trainAnimal() {
        <script src="TrainAnimal.js"></script>
        alert("Вы выбрали обучение животного новым командам.");
    }

    function viewCommandListById() {
        <script src="ViewCommandsById.js"></script>
        alert("Вы выбрали просмотр списка команд по ID.");
    }

    function countAnimalsInPetShop() {
        <script src="CountAllAnimals.js"></script>
        alert("Вы выбрали подсчет количества животных в питомнике.");
    }

    function getDataById() {
        <script  src="GetDataById.js"></script>
        alert("Вы выбрали получение данных по ID.");
    }

    function showGeneralInfo() {
        <script src="ShowInfoAnimals.js"></script>
        alert("Вы выбрали показать общую информацию по питомнику.");
    }

    function sortByName() {
        <script src="SortByName.js"></script>
        alert("Вы выбрали сортировку данных по имени.");
    }

    function sortByDateOfBirth() {
        <script src="SortByDateBirth.js"></script>
        alert("Вы выбрали сортировку данных по дате рождения.");
    }

    function saveData() {
        <script src="SaveData.js"></script>
        alert("Вы выбрали сохранить данные.");
    }

    function loadData() {
        <script src="LoadData.js"></script>
        alert("Вы выбрали загрузить данные.");
    }

    function deleteAnimalRecord() {
        <script src="DeleteAnimal.js"></script>
        alert("Вы выбрали удаление сведений о животном из реестра.");
    }

    function exitApp() {
        <script src="Exit.js"></script>
        alert("Завершение работы...");
    }
</script>
</body>
</html>