<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal House</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<section class="container">
  <h1>Animal House</h1>
  <div class="content">
    <div class="left">
      <h2>Добавление животного</h2>
      <form id="new-animal-form">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" required><br>
        <label for="birthdate">Дата рождения:</label><br>
        <input type="date" id="birthdate" required><br>
        <button type="submit">Добавить</button>
      </form>
    </div>
    <div class="right">
      <h2>Список животных</h2>
      <table id="animals-list">
        <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Тип</th>
          <th>Дата рождения</th>
          <th>Команды</th>
        </tr>
        </thead>
        <tbody id="animals-table-body"></tbody>
      </table>
    </div>
  </div>
</section>

<script src="scripts.js"></script>
</body>
</html>